/* BADGES  */
.badge.badge-default{
    background-color: #F4F5F5 !important;
    color: #FFFFFF !important;
}
.badge.badge-primary{
    background-color: #88C657 !important;
    color: #FFFFFF !important;
}
.badge.badge-success{
    background-color: #00A369 !important;
    color: #FFFFFF !important;
}
.badge.badge-info{
    background-color: #337AB7 !important;
    color: #FFFFFF !important;
}
.badge.badge-warning{
    background-color: #FFCC5F !important;
    color: #383938 !important;
}
.badge.badge-danger{
    background-color: #E14A45 !important;
    color: #FFFFFF !important;
}