/* Buttons */
.btn{
    box-sizing: border-box;
    border-radius: 30px;
    border-width: 2px !important;
    padding: 10px 25px
}
.btn:focus { outline: none !important; }

.btn.btn-default,
.btn.btn-default:hover{
  background-color: #561F9F;
  border-color: #F7F5FA !important;
  color: #F7F5FA;
}

.btn.btn-primary,
.btn.btn-primary:hover{
  background-color: #561F9F;
  border-color: #FF4B89;
  color: #FF4B89 !important;
}

.btn.btn-success,
.btn.btn-success:hover{
    background-color: #561F9F;
    border-color: #8BF3FB;
    color: #8BF3FB;
}

.btn.btn-info,
.btn.btn-info:hover{
  background-color: #561F9F;
  border-color: #FFFD7B;
  color: #FFFD7B;
}

.btn.btn-danger,
.btn.btn-danger:hover{
  background-color: #561F9F;
  border-color: #FE0022;
  color: #FE0022;
}

.btn.btn-facebook,
.btn.btn-facebook:hover{
    background-color: #561F9F;
    border-color: #4267b2;
    color: #FFF;
}

.btn.btn-transparent,
.btn.btn-transparent:hover{
    background-color: transparent;
    border-color: transparent;
    color: #FFF;
}

/*
.btn.btn-whatsapp,
.btn.btn-whatsapp:hover{
    background-color: #561F9F;
    border-color: transparent;
    color: #f2f2f2;
}

.btn.btn-instagram,
.btn.btn-instagram:hover{
    background-color: #561F9F;
    border-color: transparent;
    color: #f2f2f2;
}*/
