/* Buttons */
.btn{
    box-sizing: border-box;
    border-radius: 30px;
    border-width: 1px !important;
    padding: 10px 25px;
}

.btn:active{
    -webkit-animation: anim-effect-jelena 0.4s ease-out forwards;
    animation: anim-effect-jelena 0.4s ease-out forwards;
}

.bounce-effect:active{
    -webkit-animation: anim-effect-jelena 0.4s ease-out forwards;
    animation: anim-effect-jelena 0.4s ease-out forwards;
}

@-webkit-keyframes anim-effect-jelena {
  0% {
    opacity: 1;
    -webkit-transform: scale3d(0.5, 0.5, 1);
    transform: scale3d(0.5, 0.5, 1);
  }
  to {
    opacity: 0.5;
    -webkit-transform: scale3d(1.2, 1.2, 1);
    transform: scale3d(1.2, 1.2, 1);
  }
}

@keyframes anim-effect-jelena {
  0% {
    opacity: 1;
    -webkit-transform: scale3d(0.5, 0.5, 1);
    transform: scale3d(0.5, 0.5, 1);
  }
  to {
    opacity: 0;
    -webkit-transform: scale3d(1.2, 1.2, 1);
    transform: scale3d(1.2, 1.2, 1);
  }
}


button, a,
.btn:focus { outline: none !important; }

.btn.btn-default,
.btn.btn-default:hover{
  background-color: transparent;
  border-color: #F7F5FA !important; 
  color: #F7F5FA; 
}

.btn.btn-primary,
.btn.btn-primary:hover{
  background-color: transparent;
  border-color: #FF4B89 !important;
  color: #FF4B89 !important;
}

.btn.btn-success,
.btn.btn-success:hover{
    background-color: transparent;
    border-color: #8BF3FB;
    color: #8BF3FB;
}

.btn.btn-info,
.btn.btn-info:hover{
  background-color: transparent;
  border-color: #FFFD7B;
  color: #FFFD7B !important;
}

.btn.btn-danger,
.btn.btn-danger:hover{
  background-color: transparent;
  border-color: #FE0022;
  color: #FE0022;
}

.btn.btn-dark,
.btn.btn-dark:hover{
  background-color: transparent;
  border-color: #383938 !important;
  color: #383938;
}

button:active{
  border: 1px solid green;
}

.btn.btn-facebook,
.btn.btn-facebook:hover{
    background-color: #561F9F;
    border-color: #4267b2;
    color: #FFF;
}

.btn.btn-whatsapp,
.btn.btn-whatsapp:hover{
    background-color: transparent;
    border-color: #1ebea5;
    color: #FFF;
}

.btn.btn-instagram,
.btn.btn-instagram:hover{
    background-color: transparent;
    border-color: #a039a8;
    color: #FFF;
}

.btn-xs{
    height: 24px;
    border-radius: 12px;
    border-width: 1px !important;
    padding: 2px 25px;
    font-size: 12px;
}

.btn-sm{
    height: 30px;
    border-radius: 15px;
    border-width: 1px !important;
    padding: 5px 25px;
}
