/* KeyFrames for Actions Modal */
.transition {
    animation: fadeIn 1s ease forwards;
}

.transition.slow {
    animation: fadeIn 1.5s ease forwards;
}

.fadeout {
    animation: fadeOut .7s ease forwards;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
