/* List  Rounded */

.list-rounded .list-group-item {
    background: transparent;
    border: 1px solid rgba(255, 255, 255, .4);
    font-size: 14px;
}

.list-rounded .list-group-item.active {
    background: transparent;
    font-weight: 700;
    border: 1px solid rgba(255, 255, 255, .4);
}

/* List Bootstrap */
.list-group-item { border-color: #F4F5F5; cursor: pointer;}
.list-title { background-color: #F4F5F5; }
.list-group-item { border-color: rgba(57, 56, 56, .2) }
