.medal {
    width: 220px;
    margin: 30px auto 0 auto;
    position: relative;
}

.medal .icon {
    position: absolute;
    top: calc(50% - 30px);
    left: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    width: 60px;
    height: 60px;
    background: #FFF;
    border-radius: 50%;
    border: 4px solid #cdcdcd;
    transform: scale(1.05);
}

.icon-img {
    max-width: 65%;
    position: relative;
    z-index: 10;
}

.medal .btn {
    text-align: left;
    padding: 3px 3px 3px 75px !important;
    font-size: 15px;
    font-weight: 700;
}

.medal .level {
    display: block;
    color: #fff;
    font-size: 13px;
    font-weight: 400;
}

/* SVG */
.svg-circle-container {
    position: absolute;
    width: 70px; height: 70px;
    top: calc(50% - 35px);
    left: -15px;
    z-index: 10;
}

.circle { stroke-width: 4; }

.circle-one {
    stroke: #FF4B89;
    fill: transparent;
    stroke-dasharray: 190;
}

.circle.per05 { animation: percent05 2.5s ease forwards; }
.circle.per10 { animation: percent10 2.5s ease forwards; }
.circle.per15 { animation: percent15 2.5s ease forwards; }
.circle.per20 { animation: percent20 2.5s ease forwards; }
.circle.per25 { animation: percent25 2.5s ease forwards; }
.circle.per30 { animation: percent30 2.5s ease forwards; }
.circle.per35 { animation: percent35 2.5s ease forwards; }
.circle.per40 { animation: percent40 2.5s ease forwards; }
.circle.per45 { animation: percent45 2.5s ease forwards; }
.circle.per50 { animation: percent50 2.5s ease forwards; }
.circle.per55 { animation: percent55 2.5s ease forwards; }
.circle.per60 { animation: percent60 2.5s ease forwards; }
.circle.per65 { animation: percent65 2.5s ease forwards; }
.circle.per70 { animation: percent70 2.5s ease forwards; }
.circle.per75 { animation: percent75 2.5s ease forwards; }
.circle.per80 { animation: percent80 2.5s ease forwards; }
.circle.per85 { animation: percent85 2.5s ease forwards; }
.circle.per90 { animation: percent90 2.5s ease forwards; }
.circle.per95 { animation: percent95 2.5s ease forwards; }
.circle.per00 { animation: percent00 2.5s ease forwards; }

/* KEY FRAMES */
@keyframes percent05 {
    from { stroke-dashoffset: -190; }
    to { stroke-dashoffset: -199.5; }
}

@keyframes percent10 {
    from { stroke-dashoffset: -190; }
    to { stroke-dashoffset: -209; }
}

@keyframes percent15 {
    from { stroke-dashoffset: -190; }
    to { stroke-dashoffset: -218.5; }
}

@keyframes percent20 {
    from { stroke-dashoffset: -190; }
    to { stroke-dashoffset: -228; }
}

@keyframes percent25 {
    from { stroke-dashoffset: -190; }
    to { stroke-dashoffset: -237.5; }
}

@keyframes percent30 {
    from { stroke-dashoffset: -190; }
    to { stroke-dashoffset: -247; }
}

@keyframes percent35 {
    from { stroke-dashoffset: -190; }
    to { stroke-dashoffset: -256.5; }
}

@keyframes percent40 {
    from { stroke-dashoffset: -190; }
    to { stroke-dashoffset: -266; }
}

@keyframes percent45 {
    from { stroke-dashoffset: -190; }
    to { stroke-dashoffset: -275.5; }
}

@keyframes percent50 {
    from { stroke-dashoffset: -190; }
    to { stroke-dashoffset: -285; }
}

@keyframes percent55 {
    from { stroke-dashoffset: -190; }
    to { stroke-dashoffset: -294.5; }
}

@keyframes percent60 {
    from { stroke-dashoffset: -190; }
    to { stroke-dashoffset: -304; }
}

@keyframes percent65 {
    from { stroke-dashoffset: -190; }
    to { stroke-dashoffset: -313.5; }
}

@keyframes percent70 {
    from { stroke-dashoffset: -190; }
    to { stroke-dashoffset: -323; }
}

@keyframes percent75 {
    from { stroke-dashoffset: -190; }
    to { stroke-dashoffset: -332.5; }
}

@keyframes percent80 {
    from { stroke-dashoffset: -190; }
    to { stroke-dashoffset: -342; }
}

@keyframes percent85 {
    from { stroke-dashoffset: -190; }
    to { stroke-dashoffset: -351.5; }
}

@keyframes percent90 {
    from { stroke-dashoffset: -190; }
    to { stroke-dashoffset: -361; }
}

@keyframes percent95 {
    from { stroke-dashoffset: -190; }
    to { stroke-dashoffset: -370.5; }
}

@keyframes percent00 {
    from { stroke-dashoffset: -190; }
    to { stroke-dashoffset: -380; }
}
