/*                 */
/* Bootstrap Modal */
/*                 */

.modal-content {
    background-color: transparent;
    border: none;
    box-shadow: none;
    border-radius: 0;
    padding: 30px 0;
    height: calc(100vh - 20px);
}

.modal .modal-header,
.modal .modal-footer,
.modal .modal-content {
    border: none;
    text-align: center;
}

.modal .modal-body {
    padding: 10px;
}

.modal .modal-title,
.modal .modal-content {
    color: #FFF;
    font-weight: 700;
}

.modal .modal-footer .btn {
    font-weight: 700;
}

.modal .modal-footer .btn.fixed {
    position: fixed;
    margin: 0;
    bottom: 0; left: 0; right: 0;
    width: 100%;
}

.modal-backdrop {
   background-color: rgba(0, 0, 0, .9) !important;
   opacity: 1 !important;
}


/* OS KEYFRAMES DAS ANIMAÇÕES ABAIXO ESTÃO EM "css/modules/keyframes.css" */

.modal.we-fade .modal-title,
.modal.we-fade .modal-body,
.modal.we-fade .modal-footer {
    opacity: 0;
}
.modal.in .modal-title,
.modal.in .modal-body,
.modal.in .modal-footer {
    animation: ease 1s fadeIn forwards;
}

/*                 */
/* WePlanner Modal */
/*                 */

.modal-wp-wrapper { z-index: 9999 !important; }


.modal-wp-wrapper{
    overflow-y: auto;
    max-height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    padding: 20px;
}

.modal-wp{
    border-radius: 0px;
    background-color: #fff;
    height: auto;
    z-index: 10;
    -webkit-box-shadow: 6px 6px 20px -7px rgba(0,0,0,0.61);
    -moz-box-shadow: 6px 6px 20px -7px rgba(0,0,0,0.61);
    box-shadow: 0 19px 60px rgba(0,0,0,.3), 0 15px 20px rgba(0,0,0,.22);
    margin-bottom: 100px;
    margin-top: 10%;
}

.modal-wp-dialog{
    padding: 20px;
}

.close {
    float: right;
    font-size: 19.5px;
    font-weight: bold;
    line-height: 1;
    color: #000000;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.2;
    filter: alpha(opacity=20);
}

.close:hover,
.close:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.5;
    filter: alpha(opacity=50);
}
