    .placeholder-effect {
        background-color: #f6f7f8;
        background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
        background-size: 800px 104px;
    }

    .card-placeholder{
        height: 280px;
        background-color: #FFF;
        border-radius: 5px;
        margin-top: 20px;
        vertical-align: middle;
        padding-top: 100px;
    }

@media screen and (max-width: 991px) {

    .card-placeholder{
        height: 244px;
    }

}