.status {
    width: 220px;
    margin: 30px auto 0 auto;
    position: relative;
}

.status .icon {
    position: absolute;
    top: calc(50% - 30px);
    left: 0;
}

.status .icon-img {
    max-width: 65%
}

.status .btn {
    text-align: left;
    padding: 3px 3px 3px 75px !important;
    font-size: 15px;
    font-weight: 700;
}

.status .level {
    display: block;
    color: #fff;
    font-size: 13px;
    font-weight: 400;
}

/* SVG */
.circle {
    stroke-width: 3;
    animation: percent 3s forwards;
}

.circle-one {
    stroke: #29F39F;
    fill: #FF4B89;
    stroke-dasharray: 190;
}

/* KEY FRAMES */

@keyframes percent {
    from {
        stroke-dashoffset: -190;

    }
    to {
        stroke-dashoffset: -380;
    }
}
