/* Tabs Default */
/* Tabs */
.tabs {
}

.tabs .tab {
    padding: 7px 20px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 20px;
    transform: scale(.8);
}

.tabs .tab.active {
    border-color: #FF4B89;
    color: #FF4B89;
    font-weight: 700;
    transform: scale(1);
}

.tabs .tab .tab-icon {
    display: block;
    width: 100%;
    font-size: 18px;
}
