/* Text Colors */
.f-default  { color: #F4F5F5 !important; }
.f-primary  { color: #FF4B89 !important; }
.f-success  { color: #8BF3FB !important; }
.f-danger   { color: #FE0022 !important; }
.f-info     { color: #FFFD7B !important; }

/* LINKS */
a { color: #fff !important; }
a:active { text-decoration: none !important; }
a:hover { text-decoration: none; }

p{
   word-break: keep-all;
}
