<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>iSaudavel.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>80B0110AA9ACEB8730C3911C8B41D1E6B79C5760</string>
				<key>dateExpires</key>
				<string>27/10/18</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>39UED342Q3.com.isaudavel</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>39UED342Q3</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>iSaudavel.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>002466e4-bdc7-4af1-ba58-40b85cf73c9e</string>
				<key>name</key>
				<string>iSaudavel Provision</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>39UED342Q3</string>
				<key>name</key>
				<string>Igor Trindade</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
